@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
}
.header {
  background-color: #d9d9d9;
  color: black;
  height: fit-content;
  padding: 0 20px 5px 20px;
  
}
.header__nav {
  background-color: white;
  margin: 10px 0 0 0;
  width: fit-content;
}
.header__nav-list {
  border: 1px solid black;
  border-right: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.header__nav-item {
  border-right: 1px solid black;
  padding: 10px;
}
.header__nav-link {
  font-weight: 600;
  text-decoration: none;
  color: #b1c040;
}
.layout {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: space-between;
}
.layout__sections {
  background-color: white;
}
section {
  margin-top: 5px;
  padding: 5px 0;
  border-top: 2px solid #b1c0407e;
}
.news {
  max-height: 200px;
  overflow-y: auto;
}
section h2 {
  margin: 5px 0;
  font-weight: 550;
}
.news__figure {
  display: flex;
  padding: 5px 0;
  gap: 10px;
}
.news__image {
  width: 30%;
  margin: 0 10px;
  object-fit: cover;
}
.news__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news__content-caption {
  margin: 5px 10px;
  font-weight: 500;
  padding: 10px;
  background-color: #d9d9d9;
}
.news__content-button {
  background-color: #b1c040;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px 0 auto;
  margin-left: auto;
}
.form {
  max-width: 100%;
}
.form__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 10px 0 10px;
  margin-bottom: 10px;
}
.form__label {
  font-weight: 500;
  margin-bottom: 10px;
}
.form__input {
  padding: 10px;
  border: 1px solid #b1c040;
}
.form__input-radio {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.form__legend {
  padding: 0 10px;
}
.form__fieldset--sports {
  border: none;
  padding-top: 5px;
}
.form__group {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.form__group--radio {
  gap: 5px;
  height: fit-content;
  margin: 10px 5px;
  flex-direction: row;
  align-items: start;
}
.form__sports-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__checkbox {
  position: relative;
  padding-left: 0px;
  padding-right: 30px;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}
.form__icon-checkbox::before {
  font-family: "icomoon";
  content: "\e901"; /* unchecked */
  font-size: 16px;
  color: #9aae04;
  display: inline-block;
  margin-left: 3px;
}

.form__checkbox-input:checked + .form__icon-checkbox::before {
  content: "\e900"; /* checked */
}
.form__checkbox-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  margin: 0;
}

.form__button {
  background-color: #b1c040;
  color: white;
  border: 1px solid black;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px 0 auto;
  
}

.user-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.7rem;
}

th,
td {
  border: 1px solid #333;
  padding: 6px;
}

.user-table__header {
  background-color: #b1c040; /* verde */
  color: black;
}

.user-table__caption {
  text-align: left;
  caption-side: top;
  font-weight: bold;
  padding-bottom: 8px;
}
.layout__aside {
  margin: 0;
}
.layout__ad-image {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .layout__sections {
    padding-right: 20px;
    border-right: 1px solid black;
  }
  section {
    margin-left: 20px;
  }
  .news__image {
    width: 40%;
    margin: 0 20px;
  }
  .news__content {
    width: 60%;
  }
 
  .header {
    padding: 0 40px 5px 40px;
  }
  .user-table {
    font-size: 1rem;
  }
  th,
  td {
    padding: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .layout {
    grid-template-columns: 80% auto;
    width: 100%;
  }
  .layout__sections {
    padding-right: 40px;
    border-right: 1px solid black;
  }
  section {
    margin-left: 40px;
  }
  .news__image {
    width: 20%;
  }
  .news__content {
    width: 80%;
  }
  .layout__aside {
    margin: 0 10px;
  }
}
